pipeline/Copysqltosql.json
{
	"name": "Copysqltosql",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select table_name from information_schema.tables where table_type='BASE TABLE' and table_name like '%src_'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tblName": "emp_src1",
							"servername": "mak-adf-sqlserver.database.windows.net",
							"dbname": "mak-adf-practiceDB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"tblName": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"servername": {
											"value": "@pipeline().parameters.servername",
											"type": "Expression"
										},
										"dbname": {
											"value": "@pipeline().parameters.dbname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"tblName": {
											"value": "@replace(item().table_name,'src','tgt')",
											"type": "Expression"
										},
										"servername": {
											"value": "@pipeline().parameters.servername",
											"type": "Expression"
										},
										"dbname": {
											"value": "@pipeline().parameters.dbname",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"servername": {
				"type": "string",
				"defaultValue": "mak-adf-sqlserver.database.windows.net"
			},
			"dbname": {
				"type": "string",
				"defaultValue": "mak-adf-practiceDB"
			},
			"inputtblname": {
				"type": "string"
			},
			"outputtblname": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-02T17:16:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}